
// chaque variable contient un signe $ et un nom très claire. 
//*****************************************************

// utilitaires couleurs: 




// utilitaire texte:




// utilitaires position et dimensions:

$Nosifer: 'Nosifer', sans-serif;
$Blood: 'Blood' , sans-serif;
$Schwifty: 'Schwifty' , sans-serif;


$blue: rgb(46, 129, 206);
$vertDuTexte: rgb(127, 255, 0);
$policeTitre: 2rem;
$colorTextH4: #e9bd34;