@font-face {
    font-family: Ricky;
    src: url(../font/get-schwifty.ttf);
    font-weight: bold;
  }
  @font-face {
    font-family: Bloody;
    src: url(../font/Bloodthirsty.ttf);
    font-weight: bold;
  }
body{
    margin: 0;
    padding: 0;
    color: rgb(127, 255, 0);
    background-color: black;
    font-family: Bloody;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.lieux{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: Ricky;
}
.lieux-card{
    width: 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 50px 10px;
}
.container{
    margin-top: 25px;
}
.bottom{
    display: flex;
    flex-direction: row;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.lieux-card_image{
    background-color: black;
    height: 150px;
    width: 150px;
}
.img-resident{
    width: 130px;
    height: 130px;
    transition: all .7s;
    cursor: pointer;
}
.modal-container{
    font-size: 14px;
}
.image{
    width: 250px;
    height: 131px;
    transition: all .7s;
    cursor: pointer;
}
.imgTop{
    width: 230px;
    height: auto;
    border-radius: 10%;
}
.location-name:hover{
    color: #e4bfc1;
    cursor: pointer;
}
.topLocation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    font-family: Ricky;
}

.bottomLocation{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.bottomLocation p{
    margin-top: 3px;
    margin-bottom: 3px;
}
.type-label{
    margin: 10px;
}