@font-face {
    font-family: "Blood";
    src: url('../../../Brief-Rick-and-Morty-API/polices/Blood-Thirst.ttf');
}

@font-face {
    font-family: "Schwifty";
    src: url('../../../Brief-Rick-and-Morty-API/polices/get_schwifty.ttf');
}

